@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #e8eaf1;
  /* background: #60DCBE; */
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

/* .app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
} */

blockquote {
  font-size: 24px;
  font-style: italic;
  background: #cecece3d;
  color: rgb(122, 122, 122);
  border-left: 8px solid rgb(170, 170, 170);
  padding: 4px 16px;
  border-radius: 3px;
  margin: 0;
}

.preview {
  padding-left: 20px;
  padding-right: 20px;
}
